.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--faded-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.leftPanel,
.rightPanel {
    background-color: transparent;
    align-items: center;
    display: flex;
}

.rightPanel {
    margin-right: 5px;
}

.rightPanel > * {
    margin: 0px 5px 0 5px;
} 

.companyName {
    margin: 5px 10px 5px 20px;
}

.cartButton {
    background-color: rgb(41, 78, 212);
    border: none;
    border-radius: 10px;
    padding: 4px;
    margin: 8px;
}

.cartButton img {
    height: 30px;
}