.btn {
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}

.primary {
    color: var(--dark-blue);
    background-color: var(--green-fluo);
    border: 1px solid var(--green-fluo);
    font-weight: bold;
    &:hover {
        background-color: var(--green-fluo-hover);
        border: 1px solid var(--green-fluo-hover);
    }
}

.secondary {
    color: var(--green-fluo);
    background-color: var(--dark-blue);
    border: 1px solid var(--green-fluo);
    font-weight: bold;
    &:hover {
        color: var(--dark-blue);
        background-color: var(--green-fluo-hover);
        border: 1px solid var(--green-fluo-hover);
    }
}

.navbar {
    background-color: transparent;
    border: none;
    &:hover {
        color: var(--green-fluo);
    }
}

/* .icon {
    height: 30px;
    margin-left: 10px;
} */

.small {
    height: 30px;
    font-size: var(--font-small);
    padding: 6px;
    .icon {
        height: 26px;
        margin-left: 8px;
    }
}

.medium {
    height: 42px;
    font-size: var(--font-medium);
    padding: 8px;
    .icon {
        height: 30px;
        margin-left: 8px;
    }
}

.large {
    height: 55px;
    font-size: var(--font-large);
    padding: 10px;
    .icon {
        height: 50px;
        margin-left: 10px;
    }
}
