.mainContainer {
    background-color: var(--dark-grey);
    background-color: var(--faded-black);
    padding-bottom: 50px;
}

.mainContainer > * {
    margin-left: var(--left-margin-main);
    margin-right: var(--right-margin-main);
}

.mainContainer > h2 {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1600px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}