.mainContainer {
    position: absolute;
    top: 65;
    right: 10;
    width: auto;
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    .scrollWrapper {
        padding: 0 20px 0 0;
        max-height: 60vh;
        overflow-y: auto;
    }
}

@media (max-width: 800px) {
    .mainContainer {
        top: 330;
        z-index: 1;
    }
}


.summaryPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 0 0;
    border-top: 1px solid var(--green-fluo);
    > * {
        margin: 0 0 0 10px;
    }
}

.cartElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    > * {
        margin: 0 15px 0 15px;
    }
}

.productIconContainer {
  position: relative;
  height: 80px;
  width: 80px;
  margin: 5px 0 5px 0;
}

.productImage {
  object-fit: contain;
}