.body {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.topContainer {
    height: 500px;
    background-image: url("/images/mountain2.jpeg");
    background-size: cover;
    background-position: center 59%;
    display: flex;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--left-margin-main);
    > * {
        margin: 10px 0 10px 0;
    }
}

.benefitsContainer {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}

.motto,
.motto2,
.motto3,
.btnGroup {
  opacity: 0;
}

.motto {
    color: var(--green-fluo);
    font-weight: bold;
    animation: fadeUp 2.5s ease forwards;
    animation-delay: 0.3s;
}

.motto2 {
    animation: fadeUp 2.5s ease forwards;
    animation-delay: 0.3s;
}

.motto3 {
    font-size: var(--font-medium);
    animation: fadeUp 2.5s ease forwards;
    animation-delay: 0.3s;
}

.btnGroup {
    display: flex;
    animation: fadeUp 1.5s ease forwards;
    animation-delay: 2s;
    > * {
        margin-right: 10px;
    }
}

.benefitsContainer {
    display: flex;
    justify-content: space-between;
    margin: 0  calc(2.5 * var(--right-margin-main))  0 calc(2.5 * var(--left-margin-main));
    .benefit {
        margin: 0 40px 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-medium);
        .benefitIcon {
            max-height: 45px;
            margin-right: 10px;
        }
    }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}