.mainContainer {
    background-color: var(--grey);
    max-width: 400px;
    min-width: 350px;
    border-radius: 20px;
    overflow: hidden;
}

.mainContainer:hover .productImg{
    transform: scale(1.2);
}

.mainContainer:hover {
    background-color: var(--grey-hover);
}

.imagesWrapper {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: auto;
}

.productImgBackground {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.productImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 11;
}

.bottomContainer {
    padding: 10px;
}

.title {
    font-weight: bold;
    font-size: var(--font-large);
    margin-bottom: 5px;
}

.description {
    font-size: var(--font-small);
    margin-bottom: 5px;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-medium);
    align-items: center;
    min-height: 35px;
}

.brandValue {
    display: flex;
    align-items: center;   
}

.brandValue > * {
    margin-left: 8px;
}

.brandValue > img {
    height: 35px;
}

.promoName {
    color: var(--red);
}

.oldPrice,
.newPrice,
.promoName,
.normalPrice {
    font-size: var(--font-large);
}

.oldPrice {
    text-decoration: line-through;
}

.newPrice {
    color: var(--red);
    font-weight: bold;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.btnContainer > * {
    margin-left: 10px;
}